

:root{
    --cor-fundo-body: #CDFADB;
    --cor-fundo-header: #EDFFBB;
    --cor-fundo-header-hover: #d8f38c;
    --cor-texto: #C68484;
    --cor-texto-hover: #D26B6B;
    --cor-fundo-caixas: #F6FDC3;
}

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--cor-fundo-body);
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    transition: 0.3s;
}

/*_________________________________________________________________________________________________________________________________________________________________________________________________________*/

.cabecalho{
    display: flex;
    align-items: center;
    background-color: var(--cor-fundo-header);
    width: 100%;
    height: 10%;
    transition: 0.3s;
}

.abrir_menu{
    width: 5%;
    height: 100%;
}

.cabecalho_navegacao{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.cabecalho_opcao{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
}

.cabecalho_opcao > img {
    width: 50px;
    height: 50px;
}

.cabecalho_opcao > p{
    font-size: larger;
    font-weight: 500;
    font-family: "JetBrains Mono", monospace;
    color: var(--cor-texto);
    margin-left: 10px;
}

/*_________________________________________________________________________________________________________________________________________________________________________________________________________*/

.conteudo_Principal{
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
}

.conteudo_Esquerdo{
    height: 100%;
    width: 20%;
    margin: 250px 10% 10% 10%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

#Eu{
    width: 175px;
    height: 175px;
    border-radius: 20%;
    margin-bottom: 10%;
}

.main_conjunto_links{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

.main_links{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--cor-fundo-header);
    margin-bottom: 20px;
    padding: 15px;
    text-decoration: none;
    font-size: large;
    font-family: "Press Start 2P", system-ui;
    color: var(--cor-texto);
    transition: 0.3s;
}

.main_links:hover{
    background-color: var(--cor-fundo-header-hover);
    color: var(--cor-texto-hover);
    width: 105%;
    height: 40px;
}

.main_links > img{
    width: 30px;
    height: 30px;
    transition: 0.4s;
}

.main_links:hover img{
    width: 40px;
    height: 40px;
}

.main_links > span {
    margin-left: 20px;
}

.main_caixaTexto {
    width: 100%;
    height: 70%;
    background-color: var(--cor-fundo-caixas);
    margin: 100px 5% 5% 0;
    padding: 4%;
    text-align: center;
    color: var(--cor-texto);
    transition: 0.3s;
}

/*_________________________________________________________________________________________________________________________________________________________________________________________________________*/

.menu_lateral{
    display: flex;
    flex-direction: column;
    justify-content: center;    
    background-color: var(--cor-fundo-header);
    width: 100%;
    height: 10%;
    transition: 0.3s;
}

.temas{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.opcoes_tema{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.temas_linha{
    display: flex;
    color: var(--cor-texto);
    align-items: center;
}

.temas_linha > input{
    width: 20px;
    height: 20px;
}

.temas_linha > label{
    margin-left: 10px;
}

/* ____________________  Dispositivo Movel ____________________ */

@media (width < 1500px){
    .main_links{
        width: 100px;
        font-size: small;
    }

    .main_links > span{
        margin-left: 5px;
    }

    .main_links > img{
        width: 20px;
        height: 20px;
    }

    #Eu{
        width: 100px;
        height: 100px;
    }

    .main_caixaTexto{
        height: 50%;
    }
}

@media (width < 850px){

    .cabecalho_opcao > img{
        width: 25px;
        height: 25px;
    }

    .cabecalho_opcao{
        font-size: x-small;
    }

    .conteudo_Esquerdo{
        margin-top: 150px;
    }

    #Eu{
        width: 75px;
        height: 75px;
    }

    .main_caixaTexto{
        margin-top: 0px;
        font-size: x-small;
        height: 70%;
    }

    .main_links{
        width: 15px;
        height: 15px;
    }

    .main_links:first-child{
        margin-top: 20px;
    }

    .main_links > img{
        height: inherit;
        width: inherit;

    }
    
    .main_links > span{
        display: none;
    }

    .temas_linha > input{
        width: 20px;
        height: 20px;
    }

    .temas_linha{
        font-size: small;
    }
}

@media (width < 260px){
    
    .cabecalho_opcao > img{
        width: 10px;
        height: 10px;
    }

    .cabecalho_opcao > p{
        display: none;
    }

    .cabecalho_opcao{
        font-size: x-small;
    }

    .conteudo_Esquerdo{
        height: 60%;
        margin: 0 20px 0;
        margin-bottom: 0;
    }

    #Eu{
        margin: 0;
        width: 30px;
        height: 30px;
    }

    .main_caixaTexto{
        margin: 20px 10px 25px 0;
        height: 80%;
        font-size: 4px;
    }

    .main_links{
        margin: 10px 0 0 0;
        padding: 5px;
        width: 10px;
        height: 10px;
    }

    .main_links > img{
        margin: 0;
        width: 10px;
        height: 10px;
    }
    
    .main_links > span{
        display: none;
    }

    .temas_linha{
        flex-direction: column-reverse;
        font-size: 8px;
    }

    .temas_linha > input{
        width: 20px;
        height: 20px;
    }

    .temas_linha > label{
        margin: 0;
    }
}

@media (height < 400px){

    .menu_lateral{
        margin: 0 0 100px 0;
    }

}
